/*Simple way to write grid
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10fr 30fr;
    grid-gap: 5px;
}

*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*first parameter is amound, second is the valuewidth and hight */
    grid-template-rows: repeat(3, 50px);
    grid-gap: 2px;
}
/*short hand method*/
.container {
    display: grid;
    grid-template: repeat(3, 1fr)  / repeat(2, 1fr);
    /*first  rows then colums like L*/
    
    grid-gap: 2px;
}